In [2]:
#xX3rCbSDM4vF0QEfgh09b2ZWW

## Data Preprocessing

#### Downloading data from NYC Open Data

In [1]:
import pandas as pd
from sodapy import Socrata
import json

In [8]:
query="""
select * 
where
    created_date between '2023-01-01T00:00:00.000' 
    and '2023-05-27T04:23:00.001'
"""
#'2015-01-31T00:00:00.000'

In [9]:

import time
from requests.exceptions import ReadTimeout
from sodapy import Socrata

# Example authenticated client (needed for non-public datasets):
client = Socrata( "data.cityofnewyork.us",
                  "xX3rCbSDM4vF0QEfgh09b2ZWW",
                  username="yirong263@gmail.com",
                  password="UTDYnmz*zn2u3g6",
                  timeout=60)
# Variables for retry logic
max_retries = 5
retry_wait = 10  # Initial wait time in seconds

while max_retries > 0:
    try:    
    # Set initial parameters for the SoQL query
        limit = 100000  # Example limit
        offset = 0  # Start at the beginning
        total_records = 10000000  # Example total number of records you wish to download
        current_record = 0
        while current_record < total_records:
            # Adjust the query to include the limit and offset
            results = client.get("erm2-nwe9",query=query+ f" limit {limit} offset {offset}")
            
            # Convert to DataFrame and save to CSV
            df = pd.DataFrame.from_records(results)
            df.to_csv(f'nyc_311_data_part_2023_7_11_{offset // limit + 1}.csv', index=False)
            
            # Update the offset and current_record count
            offset += limit
            current_record += len(results)

            # Optional: Print progress
            print(f'Downloaded {current_record} of {total_records}')
        break
    
    except ReadTimeout:
        # Wait before retrying
        time.sleep(retry_wait)
        # Reduce the number of retries left
        max_retries -= 1
        # Increase the wait time for the next retry
        retry_wait *= 2


#results = client.get("erm2-nwe9",query=query)
# Convert to pandas DataFrame
#NYC_311df = pd.DataFrame.from_records(results)
#print(NYC_311df)

Downloaded 100000 of 10000000
Downloaded 200000 of 10000000
Downloaded 300000 of 10000000
Downloaded 400000 of 10000000

In [ ]:
# Convert the column names to a list and print them
column_names = NYC_311df.columns.tolist()
print(column_names)

['unique_key', 'created_date', 'closed_date', 'agency', 'agency_name', 'complaint_type', 'descriptor', 'location_type', 'incident_zip', 'incident_address', 'street_name', 'cross_street_1', 'cross_street_2', 'intersection_street_1', 'intersection_street_2', 'address_type', 'city', 'landmark', 'status', 'resolution_description', 'resolution_action_updated_date', 'community_board', 'bbl', 'borough', 'x_coordinate_state_plane', 'y_coordinate_state_plane', 'open_data_channel_type', 'park_facility_name', 'park_borough', 'latitude', 'longitude', 'location', 'taxi_pick_up_location', 'facility_type', 'bridge_highway_name', 'bridge_highway_segment', 'bridge_highway_direction', 'road_ramp', 'due_date']

In [ ]:
columns_needed = ['unique_key', 'created_date', 'complaint_type','location_type','incident_zip','address_type', 'city', 'landmark', 'status','latitude', 'longitude', 'location']  # Replace with actual column names
NYC_311df = NYC_311df[columns_needed]
print(NYC_311df.head())

  unique_key             created_date              complaint_type  \
0   58970426  2023-09-30T00:00:00.000              Food Poisoning
1   58958037  2023-09-29T23:59:53.000         Noise - Residential
2   58963337  2023-09-29T23:59:40.000  For Hire Vehicle Complaint
3   58967293  2023-09-29T23:59:10.000         Noise - Residential
4   58957297  2023-09-29T23:59:00.000  For Hire Vehicle Complaint

                location_type incident_zip address_type      city  \
0            Food Cart Vendor        10003      ADDRESS  NEW YORK
1  Residential Building/House        11433      ADDRESS   JAMAICA
2                      Street        10002      ADDRESS  NEW YORK
3  Residential Building/House        11216      ADDRESS  BROOKLYN
4                      Street        10002      ADDRESS  NEW YORK

            landmark       status            latitude           longitude  \
0  UNION SQUARE EAST       Closed    40.7348900594353  -73.98994355524363
1         160 STREET       Closed  40.696276248515204  -73.79372227601002
2    CHRYSTIE STREET  In Progress  40.723202995922456  -73.99124770125584
3      ALBANY AVENUE       Closed    40.6805991000235  -73.93848100682325
4    CHRYSTIE STREET       Closed  40.723202995922456  -73.99124770125584

                                            location
0  {'latitude': '40.7348900594353', 'longitude': ...
1  {'latitude': '40.696276248515204', 'longitude'...
2  {'latitude': '40.723202995922456', 'longitude'...
3  {'latitude': '40.6805991000235', 'longitude': ...
4  {'latitude': '40.723202995922456', 'longitude'...

In [ ]:
# Remove unnecessary columns by keeping only the ones you need
columns_needed = ['unique_key', 'created_date', 'complaint_type','location_type','incident_zip','address_type', 'city', 'landmark', 'status','latitude', 'longitude', 'location']  # Replace with actual column names
NYC_311df = NYC_311df[columns_needed]

# Remove invalid data points
# This is highly dependent on the context of your data, but as an example:
NYC_311df.dropna(inplace=True)  # Drop rows where 'column1' or 'column2' is NaN

# Normalize column names
NYC_311df.columns = [column_name.lower().replace(' ', '_') for column_name in NYC_311df.columns]

In [ ]:

results = client.get("5rq2-4hqu")
# Convert to pandas DataFrame
tree_df = pd.DataFrame.from_records(results)
print(tree_df)

     created_at tree_id block_id  \
0    08/27/2015  180683   348711
1    09/03/2015  200540   315986
2    09/05/2015  204026   218365
3    09/05/2015  204337   217969
4    08/30/2015  189565   223043
..          ...     ...      ...
995  08/31/2015  191374   415497
996  08/26/2015  177355   224301
997  09/01/2015  195035   229940
998  08/26/2015  177062   409315
999  08/30/2015  188662   312637

                                              the_geom tree_dbh stump_diam  \
0    {'type': 'Point', 'coordinates': [-73.84421521...        3          0
1    {'type': 'Point', 'coordinates': [-73.81867945...       21          0
2    {'type': 'Point', 'coordinates': [-73.93660770...        3          0
3    {'type': 'Point', 'coordinates': [-73.93445615...       10          0
4    {'type': 'Point', 'coordinates': [-73.97597938...       21          0
..                                                 ...      ...        ...
995  {'type': 'Point', 'coordinates': [-74.12944305...        1          0
996  {'type': 'Point', 'coordinates': [-74.00015215...       10          0
997  {'type': 'Point', 'coordinates': [-73.95751667...       25          0
998  {'type': 'Point', 'coordinates': [-74.09660153...       18          0
999  {'type': 'Point', 'coordinates': [-73.79587098...       32          0

    curb_loc status health                           spc_latin  ... st_assem  \
0     OnCurb  Alive   Fair                         Acer rubrum  ...       28
1     OnCurb  Alive   Fair                   Quercus palustris  ...       27
2     OnCurb  Alive   Good  Gleditsia triacanthos var. inermis  ...       50
3     OnCurb  Alive   Good  Gleditsia triacanthos var. inermis  ...       53
4     OnCurb  Alive   Good                     Tilia americana  ...       44
..       ...    ...    ...                                 ...  ...      ...
995   OnCurb   Dead    NaN                                 NaN  ...       62
996   OnCurb  Alive   Poor                    Acer platanoides  ...       52
997   OnCurb  Alive   Good                    Acer platanoides  ...       48
998   OnCurb  Alive   Good                    Acer platanoides  ...       63
999   OnCurb  Alive   Fair                    Acer platanoides  ...       26

    st_senate   nta                                  nta_name  boro_ct  \
0          16  QN17                              Forest Hills  4073900
1          11  QN49                                Whitestone  4097300
2          18  BK90                         East Williamsburg  3044900
3          18  BK90                         East Williamsburg  3044900
4          21  BK37                        Park Slope-Gowanus  3016500
..        ...   ...                                       ...      ...
995        24  SI25                     Oakwood-Oakwood Beach  5013800
996        26  BK33  Carroll Gardens-Columbia Street-Red Hook  3006300
997        17  BK43                                   Midwood  3076200
998        24  SI36         Old Town-Dongan Hills-South Beach  5009602
999        11  QN51                               Murray Hill  4114100

        state     latitude     longitude           x_sp           y_sp
0    New York  40.72309177  -73.84421522  1027431.14821  202756.768749
1    New York  40.79411067  -73.81867946  1034455.70109  228644.837379
2    New York  40.71758074   -73.9366077  1001822.83131  200716.891267
3    New York  40.71353749  -73.93445616  1002420.35833  199244.253136
4    New York  40.66677776  -73.97597938  990913.775046  182202.425999
..        ...          ...           ...            ...            ...
995  New York  40.56929363  -74.12944305  948287.567976   146712.05013
996  New York  40.68505281  -74.00015216  984207.800269  188859.639063
997  New York  40.62479203  -73.95751667   996043.10009  166907.823715
998  New York   40.5925856  -74.09660154  957421.094985  155186.117827
999  New York  40.76495852  -73.79587099  1040795.85999  218037.647308

[1000 rows x 42 columns]

In [ ]:
# Convert the column names to a list and print them
column_names = tree_df.columns.tolist()
print(column_names)

['created_at', 'tree_id', 'block_id', 'the_geom', 'tree_dbh', 'stump_diam', 'curb_loc', 'status', 'health', 'spc_latin', 'spc_common', 'steward', 'guards', 'sidewalk', 'user_type', 'problems', 'root_stone', 'root_grate', 'root_other', 'trnk_wire', 'trnk_light', 'trnk_other', 'brnch_ligh', 'brnch_shoe', 'brnch_othe', 'address', 'zipcode', 'zip_city', 'cb_num', 'borocode', 'boroname', 'cncldist', 'st_assem', 'st_senate', 'nta', 'nta_name', 'boro_ct', 'state', 'latitude', 'longitude', 'x_sp', 'y_sp']

In [ ]:
# Remove unnecessary columns by keeping only the ones you need
columns_needed = ['created_at', 'tree_id', 'block_id', 'tree_dbh', 'stump_diam','latitude', 'longitude', 'x_sp', 'y_sp']  # Replace with actual column names
tree_df = tree_df[columns_needed]

# Remove invalid data points
# This is highly dependent on the context of your data, but as an example:
tree_df.dropna(inplace=True)  # Drop rows where 'column1' or 'column2' is NaN

# Normalize column names
tree_df.columns = [column_name.lower().replace(' ', '_') for column_name in tree_df.columns]