In [1]:
#xX3rCbSDM4vF0QEfgh09b2ZWW

## Data Preprocessing

#### Downloading data from NYC Open Data

In [11]:
import pandas as pd
from sodapy import Socrata
import json

In [114]:
query="""
select * 
where
    created_date between '2015-01-31T00:00:00.000' 
    and '2023-09-30T00:00:00.000'
"""

In [116]:

# Example authenticated client (needed for non-public datasets):
client = Socrata( "data.cityofnewyork.us",
                  "xX3rCbSDM4vF0QEfgh09b2ZWW",
                  username="yirong263@gmail.com",
                  password="UTDYnmz*zn2u3g6")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("erm2-nwe9", query=query )
# Convert to pandas DataFrame
NYC_311df = pd.DataFrame.from_records(results)
print(NYC_311df)

    unique_key             created_date              closed_date agency  \
0     58970426  2023-09-30T00:00:00.000  2023-10-03T00:00:01.000  DOHMH
1     58958037  2023-09-29T23:59:53.000  2023-09-30T01:04:04.000   NYPD
2     58963337  2023-09-29T23:59:40.000                      NaN    TLC
3     58967293  2023-09-29T23:59:10.000  2023-09-30T00:01:37.000   NYPD
4     58957297  2023-09-29T23:59:00.000  2023-11-09T11:51:34.000    TLC
..         ...                      ...                      ...    ...
995   58957245  2023-09-29T21:31:20.000  2023-10-04T14:40:56.000    DOT
996   58956977  2023-09-29T21:31:06.000  2023-10-10T12:08:31.000    HPD
997   58959480  2023-09-29T21:30:58.000  2023-09-29T21:49:07.000   NYPD
998   58964181  2023-09-29T21:30:48.000  2023-09-29T21:58:15.000   NYPD
999   58962422  2023-09-29T21:30:34.000  2023-09-29T22:29:04.000   NYPD

                                           agency_name  \
0              Department of Health and Mental Hygiene
1                      New York City Police Department
2                        Taxi and Limousine Commission
3                      New York City Police Department
4                        Taxi and Limousine Commission
..                                                 ...
995                       Department of Transportation
996  Department of Housing Preservation and Develop...
997                    New York City Police Department
998                    New York City Police Department
999                    New York City Police Department

                  complaint_type                        descriptor  \
0                 Food Poisoning                            1 or 2
1            Noise - Residential                  Loud Music/Party
2     For Hire Vehicle Complaint  Driver Complaint - Non Passenger
3            Noise - Residential                  Loud Music/Party
4     For Hire Vehicle Complaint  Driver Complaint - Non Passenger
..                           ...                               ...
995           Sidewalk Condition      Sidewalk Grating - Defective
996                   WATER LEAK                         SLOW LEAK
997           Noise - Commercial                  Loud Music/Party
998  Non-Emergency Police Matter         Other (complaint details)
999             Blocked Driveway                         No Access

                  location_type incident_zip      incident_address  ...  \
0              Food Cart Vendor        10003  18 UNION SQUARE EAST  ...
1    Residential Building/House        11433     107-40 160 STREET  ...
2                        Street        10002   229 CHRYSTIE STREET  ...
3    Residential Building/House        11216       6 ALBANY AVENUE  ...
4                        Street        10002   229 CHRYSTIE STREET  ...
..                          ...          ...                   ...  ...
995                    Sidewalk        11238    547 CLINTON AVENUE  ...
996        RESIDENTIAL BUILDING        11225      240 CROWN STREET  ...
997            Store/Commercial        10007      22 WARREN STREET  ...
998            Store/Commercial        11102       30-74 14 STREET  ...
999             Street/Sidewalk        11236     626 REMSEN AVENUE  ...

               latitude           longitude  \
0      40.7348900594353  -73.98994355524363
1    40.696276248515204  -73.79372227601002
2    40.723202995922456  -73.99124770125584
3      40.6805991000235  -73.93848100682325
4    40.723202995922456  -73.99124770125584
..                  ...                 ...
995  40.682232868969365  -73.96663478419119
996   40.66637963014084  -73.95264952275203
997  40.714057530712374  -74.00771943503322
998   40.76906960673831  -73.93137384777121
999    40.6516760883353  -73.91872979732864

                                              location  \
0    {'latitude': '40.7348900594353', 'longitude': ...
1    {'latitude': '40.696276248515204', 'longitude'...
2    {'latitude': '40.723202995922456', 'longitude'...
3    {'latitude': '40.6805991000235', 'longitude': ...
4    {'latitude': '40.723202995922456', 'longitude'...
..                                                 ...
995  {'latitude': '40.682232868969365', 'longitude'...
996  {'latitude': '40.66637963014084', 'longitude':...
997  {'latitude': '40.714057530712374', 'longitude'...
998  {'latitude': '40.76906960673831', 'longitude':...
999  {'latitude': '40.6516760883353', 'longitude': ...

                                 taxi_pick_up_location facility_type  \
0                                                  NaN           NaN
1                                                  NaN           NaN
2    229 CHRYSTIE STREET, MANHATTAN (NEW YORK), NY,...           NaN
3                                                  NaN           NaN
4    229 CHRYSTIE STREET, MANHATTAN (NEW YORK), NY,...           NaN
..                                                 ...           ...
995                                                NaN           NaN
996                                                NaN           NaN
997                                                NaN           NaN
998                                                NaN           NaN
999                                                NaN           NaN

    bridge_highway_name bridge_highway_segment bridge_highway_direction  \
0                   NaN                    NaN                      NaN
1                   NaN                    NaN                      NaN
2                   NaN                    NaN                      NaN
3                   NaN                    NaN                      NaN
4                   NaN                    NaN                      NaN
..                  ...                    ...                      ...
995                 NaN                    NaN                      NaN
996                 NaN                    NaN                      NaN
997                 NaN                    NaN                      NaN
998                 NaN                    NaN                      NaN
999                 NaN                    NaN                      NaN

    road_ramp due_date
0         NaN      NaN
1         NaN      NaN
2         NaN      NaN
3         NaN      NaN
4         NaN      NaN
..        ...      ...
995       NaN      NaN
996       NaN      NaN
997       NaN      NaN
998       NaN      NaN
999       NaN      NaN

[1000 rows x 39 columns]

In [117]:

results = client.get("5rq2-4hqu")
# Convert to pandas DataFrame
tree_df = pd.DataFrame.from_records(results)
print(tree_df)

     created_at tree_id block_id  \
0    08/27/2015  180683   348711
1    09/03/2015  200540   315986
2    09/05/2015  204026   218365
3    09/05/2015  204337   217969
4    08/30/2015  189565   223043
..          ...     ...      ...
995  08/31/2015  191374   415497
996  08/26/2015  177355   224301
997  09/01/2015  195035   229940
998  08/26/2015  177062   409315
999  08/30/2015  188662   312637

                                              the_geom tree_dbh stump_diam  \
0    {'type': 'Point', 'coordinates': [-73.84421521...        3          0
1    {'type': 'Point', 'coordinates': [-73.81867945...       21          0
2    {'type': 'Point', 'coordinates': [-73.93660770...        3          0
3    {'type': 'Point', 'coordinates': [-73.93445615...       10          0
4    {'type': 'Point', 'coordinates': [-73.97597938...       21          0
..                                                 ...      ...        ...
995  {'type': 'Point', 'coordinates': [-74.12944305...        1          0
996  {'type': 'Point', 'coordinates': [-74.00015215...       10          0
997  {'type': 'Point', 'coordinates': [-73.95751667...       25          0
998  {'type': 'Point', 'coordinates': [-74.09660153...       18          0
999  {'type': 'Point', 'coordinates': [-73.79587098...       32          0

    curb_loc status health                           spc_latin  ... st_assem  \
0     OnCurb  Alive   Fair                         Acer rubrum  ...       28
1     OnCurb  Alive   Fair                   Quercus palustris  ...       27
2     OnCurb  Alive   Good  Gleditsia triacanthos var. inermis  ...       50
3     OnCurb  Alive   Good  Gleditsia triacanthos var. inermis  ...       53
4     OnCurb  Alive   Good                     Tilia americana  ...       44
..       ...    ...    ...                                 ...  ...      ...
995   OnCurb   Dead    NaN                                 NaN  ...       62
996   OnCurb  Alive   Poor                    Acer platanoides  ...       52
997   OnCurb  Alive   Good                    Acer platanoides  ...       48
998   OnCurb  Alive   Good                    Acer platanoides  ...       63
999   OnCurb  Alive   Fair                    Acer platanoides  ...       26

    st_senate   nta                                  nta_name  boro_ct  \
0          16  QN17                              Forest Hills  4073900
1          11  QN49                                Whitestone  4097300
2          18  BK90                         East Williamsburg  3044900
3          18  BK90                         East Williamsburg  3044900
4          21  BK37                        Park Slope-Gowanus  3016500
..        ...   ...                                       ...      ...
995        24  SI25                     Oakwood-Oakwood Beach  5013800
996        26  BK33  Carroll Gardens-Columbia Street-Red Hook  3006300
997        17  BK43                                   Midwood  3076200
998        24  SI36         Old Town-Dongan Hills-South Beach  5009602
999        11  QN51                               Murray Hill  4114100

        state     latitude     longitude           x_sp           y_sp
0    New York  40.72309177  -73.84421522  1027431.14821  202756.768749
1    New York  40.79411067  -73.81867946  1034455.70109  228644.837379
2    New York  40.71758074   -73.9366077  1001822.83131  200716.891267
3    New York  40.71353749  -73.93445616  1002420.35833  199244.253136
4    New York  40.66677776  -73.97597938  990913.775046  182202.425999
..        ...          ...           ...            ...            ...
995  New York  40.56929363  -74.12944305  948287.567976   146712.05013
996  New York  40.68505281  -74.00015216  984207.800269  188859.639063
997  New York  40.62479203  -73.95751667   996043.10009  166907.823715
998  New York   40.5925856  -74.09660154  957421.094985  155186.117827
999  New York  40.76495852  -73.79587099  1040795.85999  218037.647308

[1000 rows x 42 columns]